HOST=0.0.0.0
PORT=1337
APP_KEYS=plrVqUuxkdrzgTiOqqnUeA==,64Ol9f4xhWkc9EvxD8yy3Q==,rwFcsY0rH2EJrP2jTs72Pw==,4l/Zw0OVxd3siP8+PbnA9g==
API_TOKEN_SALT=YpLvSb+j2gZat9HYS6E/gA==
ADMIN_JWT_SECRET=5IESBkPLonNwbhm3UHDI5A==
TRANSFER_TOKEN_SALT=lLWW8XUrrm9KFRQYQvjpAA==
# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=vUJ/+fM3JeP4JKzL59JGNw==
